@import url('https://fonts.googleapis.com/css?family=Cairo|Montserrat:700');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Montserrat', serif;
    font-weight: 700;
}

*,
*::before,
*::before
{
    box-sizing: border-box;
}

::-moz-selection
{
    color: #fff;
    background: #f1955c;
}

::selection
{
    color: #fff;
    background: #f1955c;
}

img
{
    max-width: 100%;
}

.is-hidden
{
    position: absolute;

    visibility: hidden;

    width: 0;
    height: 0;
}

.icon
{
    display: block;

    width: 100%;
    margin: 0 auto;

    fill: currentColor;
    stroke: currentColor;
}

html
{
    font-size: 18px;
}

body
{
    font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.65;

    color: #4a4a4a;
}

h1
{
    font-size: 3.16049em;
    line-height: 1.1;
}

h2
{
    font-size: 3.16049em;
    line-height: 1.3;
}

h3
{
    font-size: 2.37037em;
}

h4
{
    font-size: 1.77778em;
}

h5
{
    font-size: 1.33333em;
}

h6
{
    font-size: 1em;
}

label
{
    display: none;
}

.container
{
    position: relative;

    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;

    *zoom: 1;
}

.container:before,
.container:after
{
    display: table;

    content: '';
}

.container:after
{
    clear: both;
}

.row
{
    *zoom: 1;
}

.row:before,
.row:after
{
    display: table;

    content: '';
}

.row:after
{
    clear: both;
}

.row--flex
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    max-width: 100%;

    text-align: center;

    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vertical
{
        flex-direction: column !important;

    -ms-flex-direction: column !important;
}

.horizontal
{
        flex-direction: row !important;

    -ms-flex-direction: row !important;
}

body
{
    background: rgba(0, 0, 0, .8);
}

header
{
    display: -ms-flexbox;
    display: flex;

    min-height: 100vh;

    transition: -webkit-filter .3s;
    transition:         filter .3s;
    transition:         filter .3s, -webkit-filter .3s;
    text-align: center;

    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../img/village.jpg') no-repeat center/cover;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header.is-blurred
{
    -webkit-filter: blur(5px);
            filter: blur(5px);
}

header .button
{
    font-family: 'Montserrat', serif;

    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    max-width: 16.66667em;
    margin: .83333em auto;
    padding: .55556em;

    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;

    border-radius: 100px;
    background: #138fdb;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header .button:hover
{
    transition: .2s;
    transform: scale(1.2);

    background: #ec7024;
}

header .button:hover .sir
{
    transition: transform .2s;
    transform: rotate(1turn);
}

header .button:active
{
    transform: scale(1);

    background: #4a4a4a;
}

header .button:active .sir
{
    transform: translateY(-500%);
}

header .button .sir
{
    width: 2.22222em;
    height: 2.22222em;
    margin: 0 0 0 .55556em;

    transition: transform .6s;

    stroke: none;
}

header .medium-underline
{
    font-size: .77778em;

    text-decoration: none;

    color: #fff;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, .6) 50%);
    background-repeat: repeat-x;
    background-position: 0 22px;
    background-size: 2px 2px;
}

header .medium-underline:hover
{
    text-decoration: none;

    color: #ec7024;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(236, 112, 36, .6) 50%);
    background-repeat: repeat-x;
    background-position: 0 22px;
    background-size: 2px 2px;
}

.modal-box
{
    position: fixed;
    z-index: -1;
    top: 0;

    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    transition: .3s;
    text-align: center;
    pointer-events: none;

    opacity: 0;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal-box.is-active
{
    z-index: 2;

    pointer-events: all;

    opacity: 1;
}

.modal-box.is-active .contents
{
    transform: translateY(0) translate3d(0, 0, 0);
}

.modal-box .background-overlay
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(74, 74, 74, .4);
}

.modal-box .contents
{
    position: relative;

    width: 90%;

    transition: .3s cubic-bezier(.5, -.5, .5, 1.5);
    transform: translate3d(0, 0, 0) translateY(-250%);

    border-radius: 15px;
    background: #fff;
}

.modal-box .close
{
    font-family: 'Montserrat', serif;

    position: absolute;
    top: -10px;
    right: -10px;

    display: block;

    width: 2.22222em;
    height: 2.22222em;

    cursor: pointer;

    color: #fff;
    border-radius: 50%;
    background: #ec7024;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .15);
}

.modal-box .close span
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    transform-style: preserve-3d;
}

.modal-box .half
{
    padding: 2.22222em;
}

.modal-box .stars
{
    min-height: 250px;

    border-radius: 10px 10px 0 0;
    background: url('../img/stars.jpg') no-repeat bottom/cover;
}

.modal-box h4
{
    line-height: 1;

    margin-bottom: .55556em;
}

.modal-box p
{
    margin-bottom: .83333em;
}

.modal-box input
{
    font-size: .88889em;
    line-height: 1;

    display: block;

    margin: 0 auto;
    padding: .44444em .83333em;

    transition: box-shadow .3s, transform .3s;
    text-align: center;

    color: #138fdb;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.modal-box input::-webkit-input-placeholder
{
    color: rgba(74, 74, 74, .7);
}

.modal-box input::-moz-placeholder
{
    opacity: 1;
    color: rgba(74, 74, 74, .7);
}

.modal-box input:-ms-input-placeholder
{
    color: rgba(74, 74, 74, .7);
}

.modal-box input::-ms-input-placeholder
{
    color: rgba(74, 74, 74, .7);
}

.modal-box input:placeholder-shown
{
    color: rgba(74, 74, 74, .7);
}

.modal-box input:hover
{
    transform: translate(0, -2px);

    box-shadow: 0 5px 8px rgba(0, 0, 0, .15);
}

@media (min-width: 56.88889em)
{
    h1
    {
        font-size: 4.21399em;
    }

    .modal-box .contents
    {
        display: -ms-flexbox;
        display: flex;

        width: 60%;
    }

    .modal-box .half
    {
        max-width: 50%;
        padding: 6.66667em 2.22222em;

        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .modal-box .stars
    {
        min-height: 100%;

        border-radius: 10px 0 0 10px;
        background: url('../img/stars.jpg') no-repeat center/cover;
    }
}

@media (min-width: 42.66667em)
{
    .container
    {
        width: 85%;
    }

    .row--flex
    {
            flex-direction: row;

        -ms-flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

/*# sourceMappingURL=odin.css.map */
