header
  .container
    h1 Get a Space Trip!
    p Secure your chance for a cool trip to the stars!
    
    a.button.modal-trigger
      span Click Here
      +svg('sir')
      
    p 
      a.medium-underline(href='//pixel2html.com', title='Terms', target='_blank') A Pixel2Html Invention
