aside.modal-box
  .background-overlay
  .contents
    .close 
      span X
    .half.stars
    .half
      h4 More than you imagine!
      p It's your chance for a trip to space!
      input(type='text', placeholder='Enter your email')
