.modal-box
  .modal-box__contents
    .half.stars
    .half
      h3 More than you imagine!
      p It's your change for a trip to space!
      input(type='text', placeholder='Enter your email to win')
